* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.body-login {
    background-image: url(../img/pexels-rombo-10998697.jpg);
    background-size: cover;
    height: 100%;
    justify-content: center;
}

.bg-img {
    background-size: cover;
}

.img-login {
    width: 100%;
    height: 90%;
}

.bg-gris {
    background-color: rgba(184, 171, 181, 0.117);
}

.bg-registro {
    background-color: rgba(190, 190, 190, 0.357);
}

.color-titulo {
    color: rgb(251, 254, 169);
}

.login-text {
    color: rgb(255, 255, 255);
}

.enlace {
    color: rgb(0, 121, 202);
}


.container-login {
    width: 1000px;
    height: 500px;
    margin-top: 60px;
}

.container-registro {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-ingreso {
    background-color: rgb(85, 215, 85);
}

.registro {
    display: flex;
    align-items: center;
    justify-content: center;
}

.caja {
    width: 500px;
    height: 400px;
}

.col-img {
    position:relative;
}

.btn-volver {
    background-color: rgb(228, 135, 59);
}

.peligro {
    color: rgb(170, 2, 2);
}

.body-index {
    background-image: url(../img/pexels-rombo-10998697.jpg);
    background-size: cover;
    height: 100%;
}

.container-prod {
    display: flex;
    justify-content: center;
}

.bg-card {
    background-color: rgba(213, 73, 73, 0.298);
}

.bg-nav {
    background-color: rgba(123, 123, 123, 0.613);
}

.container-titulo-index {
    background-color: rgba(176, 27, 27, 0.713);
    justify-content: center;
    display: flex;
}

.color-titulo-index {
    color: white;
}

.bg-carrito {
    background-color: rgb(240, 206, 199);
}

.container-carrito {
    margin-right: 20px;
}

.container-carrito svg {
    width: 30px;
    height: 40px;
    color: rgb(170, 30, 23);
}


.container-img {
    display: flex;
}

.row-img-login {
    width: 90px;
    height: 70px;
}

.row-titulo-login {
    margin-left: 400px;
    margin-top: 40px;
}

.color-titulo-2 {
    color: rgb(231, 72, 63);
}

.row-barra {
    width: 100px;
}
.logo {
    width: 80px;
    height: 60px;
}

.modal-container {
    display: flex;
    align-items: center;
}

.img-carrito {
    width: 200px;
    padding: 20px;
}

.btn-eliminar-producto {
    margin-left: 20px;
}

.btn-eliminar-producto svg {
    width: 30px;
    height: 40px;   
}

.color-item-carrito {
    color: rgb(151, 26, 20);
}

.color-info-carrito {
    color: rgb(0, 0, 0); 
}

